[2020-12-06 13:01] Ash515 opened #3 "There is only less shopping functions are here 💣🛒"
Hi everyone ! There is only less **shopping website function** are here so try to add more shopping website functions to boot up our AshTech 😍

[2020-12-06 13:10] Ash515 opened #4 "There is no any job recommandation functions"
Hi young techs ! It would be very nice if AshTech had  some  **job recommendation websites** , so try to add some Job recommendation website functions like Glassdoor, LinkedIn, Indeed etc.😎

[2020-12-06 13:21] Ash515 opened #5 "It is nice to have file searching and reading functionalities"
Hello guys ! It would be nice if AshTech has file **searching and reading documents** in our system, so try to add **searching** some documents or image files etc. in our file explorer and  **reading** the documents 🤩

[2020-12-06 13:30] Ash515 opened #6 "There is no any ticket booking functionalities 😕"
Hello Amigos ! We all know how it is very hard to get a ticket from the theatre 😕 so it is very helpful to train our AshTech with some **Film ticket booking websites** using functions to get the ticket booking websites easily to book our tickets. Not only for theatres you can also create functions for bus, train, aeroplane booking if you can. 🤩   ✈🚕🚊

[2020-12-06 13:39] Ash515 opened #7 "If it would be nice to have COVID19 Tracker 🦠 📊"
Hello peers ! I hope all are safe and good ❤. In this COVID19 periods peoples should know  the status of **infections, deaths and cure details** so it would be great to have such functionalities to our AshTech.

[2020-12-06 13:50] Ash515 opened #8 "Try to add some online courses websites 👨‍💻"
Try to add some online courses websites functions.

[2020-12-06 13:56] Ash515 opened #9 "Try to add some location detecting feature"
Add some locations like park, beech, theatre, schools etc. Our AshTech should detect and tell the exact location (in meters) to the users.

[2020-12-06 14:03] Ash515 opened #10 "Try to add system user login details 👨‍💻👩‍💻"
Try to add user login details in our system. Our AshTech should give the clear information about **user login details and login counts**.

[2020-12-06 14:06] Ash515 opened #11 "Searching the deleted files😤"
It is very little hard to search the deleted files so it would be nice if our AshTech would show the deleted file location. So try to add some functionalities like that.😁

[2020-12-06 14:13] Ash515 opened #12 "Detecting walking feet counts 🦿🦾"
It would be nice if our AshTech would detect the exact walking feet count per day.

[2020-12-18 14:22] sahebsunny commented on #7
Sir, I previously worked on a similar project,
I love to work on it.
I would be grateful if you can assign this issue to me for DSWOC.
Thank you.

[2020-12-18 14:24] sahebsunny commented on #8
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DSWOC.
Thank you.

[2020-12-19 13:32] Ash515 commented on #8
All the very best

[2020-12-19 13:33] Ash515 commented on #7
All the very best.

[2020-12-26 11:54] manvi0308 opened #13 "Opening OS Programs like word etc using voice commands"

[2020-12-26 11:58] manvi0308 opened #14 "Web scraping to get some news headlines"
We can use **WEB SCRAPING** to fetch the latest headlines from a newspaper, that will give notifications after every hour of the top headlines

- [ ] Web scraping to get news headlines
- [ ] Setting it as notification remainder after every hour or so

[2020-12-26 13:38] AlexVines commented on #14
Hey! I was doing web scrapping using bs4 on UpWork, so maybe I can help?

[2020-12-26 13:55] sahebsunny commented on #8
Thank you sir

[2020-12-26 13:55] sahebsunny commented on #7
Thank you sir

[2020-12-26 15:00] Cruel-Crab commented on #13
I am interested in this issue;
Kindly assign it to me.

[2020-12-26 15:25] Ash515 commented on #14
Great!

[2020-12-26 15:26] Ash515 commented on #13
Sure @Cruel-Crab All the very best

[2020-12-26 15:54] abdullah20401 commented on #9
I would like to work on this project, I will be using the `googlemaps` module. It would be wonderful if you can provide a Google Maps key. Thanks

[2020-12-26 16:39] Ash515 commented on #9
Sure @abdullah20401 All the very best

[2020-12-26 16:39] Ash515 commented on #9
I have assigned you for this issue

[2020-12-26 16:47] samruddhi-10 commented on #14
Hi,
I am new to webscraping want to try some hands-on, could you please assign it to me too?

[2020-12-26 16:51] Ash515 commented on #14
Sure All the very best @samruddhi-10  and @AlexVines you can also do I also assign you also.

[2020-12-26 17:06] Amitdutta7 opened #17 "Asking the AI Voice Assistant to tell some jokes"
I think it'll be cool if you can ask the AI Voice Assistant to tell some jokes to cheer up the mood.
I think I can work on this. Kindly assign it to me.

[2020-12-26 17:06] Amitdutta7 commented on #17
Hey! Can I work on this. Kindly assign it to me.

[2020-12-26 17:14] Amitdutta7 commented on #13
Can I work on this too. I have a basic understanding of the **OS module**.

[2020-12-26 17:14] Jithendra-k commented on #7
May i have a chance to work on this issue sir.
If yes, I was very happy to work on this

[2020-12-26 17:17] Jithendra-k commented on #8
Do i have a chance to work on this issue.
and also I want to contribute more to this.
I yes, I was happy to work on this

[2020-12-26 17:20] Ash515 commented on #17
Yeah, nice All the very best !

[2020-12-26 17:22] Ash515 commented on #8
Sure @Jithendra-k All the very best !

[2020-12-26 17:23] Ash515 commented on #7
Sure @Jithendra-k All the very best !!

[2020-12-26 18:37] Vidura-Wijekoon commented on #17
I would like to work on this issue as a part of DWOC2020. I am a beginner level student and I want to learn more about the AI with emotional intelligence by studying this issue.

[2020-12-26 19:16] Nitesh-thapliyal commented on #8
Can I work on this?

[2020-12-26 19:25] Jithendra-k commented on #8
Its open to all I think @Nitesh-thapliyal .You can proceed.I am also working on this.good luck

[2020-12-26 19:57] razorblade42 commented on #5
i would love to work on it can u assign it to me?
 i will try my best!

[2020-12-27 05:25] Ash515 commented on #17
Sure @Vidura-Wijekoon All the very best

[2020-12-27 05:26] Ash515 commented on #5
Sure @razorblade42 All the very best

[2020-12-27 07:14] Nitesh-thapliyal opened #20 "Adding authentication in voice assistant program"
Added authentication to make the program secure. the voice assistant will ask user password and if the password is right then only the program will run and if the password is wrong then it will exit the program with a message try again...

[2020-12-27 07:55] Ash515 commented on #20
Great!

[2020-12-27 13:19] SubhradeepSS commented on #3
@Ash515 can i work on this issue for DWOC and add some other websites like flipkart,myntra etc.?

[2020-12-27 13:28] Ash515 commented on #3
sure @SubhradeepSS All the very best

[2020-12-27 13:32] realhunter7869 commented on #13
I am interested

[2020-12-27 13:54] Ash515 commented on #13
All the very best !

[2020-12-27 15:17] #3 closed

[2020-12-27 16:57] abdullah20401 commented on #9
Ok, so I have made a feature #24 which gives you your current location.

And I am still working on this issue:

[2020-12-27 17:06] sahebsunny commented on #14
Sir, Let me work on it.
I would be grateful if you can assign this issue to me.

[2020-12-27 17:06] sahebsunny commented on #4
Sir, Let me work on it.
I would be grateful if you can assign this issue to me.

[2020-12-27 17:08] sahebsunny commented on #17
Sir, it's an interesting idea.
if the issue is open please let me work on it

[2020-12-27 21:59] abdullah20401 commented on #9
@Ash515 Hi, I need an API key for Google Maps. You can do that by going to this location: https://cloud.google.com/maps-platform/places

Here is what I have added so far: https://gist.github.com/abdullah20401/b8ddf30cbe3f7209685cc11edf10e947

Thanks

[2020-12-28 04:52] Ash515 commented on #9
Hi @abdullah20401 this is my Google Maps API       AIzaSyA_pM4npytU8R0FZkPK8a8q2_YvanReIcc

[2020-12-28 14:57] sahebsunny commented on #14
sir, I am waiting for your permission so that I can Work on it

[2020-12-28 15:28] Akashdeep-47 commented on #17
I would like to work on this issue. If open please let me know.

[2020-12-28 16:03] realhunter7869 commented on #8
Can I get this issue.... I need to add on some features...

[2020-12-28 16:06] realhunter7869 commented on #4
Sir can you assign this issue plz...

[2020-12-28 17:16] Ash515 commented on #14
Sure @sahebsunny  sorry for late reply you can do All the very best

[2020-12-28 17:18] Ash515 commented on #17
Yes guys @sahebsunny and @Akashdeep-47 you can start work on this issue All the very best

[2020-12-28 17:18] Ash515 commented on #8
Sure @realhunter7869 All the very best

[2020-12-28 17:19] Ash515 commented on #4
Sure @realhunter7869 All the very best !

[2020-12-28 17:54] abdullah20401 commented on #9
The API key doesn't work, it says that you need to enable billing. https://maps.googleapis.com/maps/api/place/nearbysearch/json?&radius=5000&type=hospital&language=en&key=AIzaSyA_pM4npytU8R0FZkPK8a8q2_YvanReIcc&sensor=false

[2020-12-28 18:02] Akashdeep-47 opened #28 "Searching any thing on YouTube."
It will be great that youtube searches for the things that we want.
If possible then assign this to me.

[2020-12-28 19:01] realhunter7869 commented on #13
Dear @Ash515  can you please merge this into main branch

[2020-12-29 15:20] #17 closed

[2020-12-29 15:22] Ash515 commented on #28
Good do it @Akashdeep-47 All the very best

[2020-12-29 15:35] Ash515 commented on #13
@realhunter7869 I cant understand your query please tell again

[2020-12-29 16:09] #20 closed

[2020-12-29 16:12] Ash515 commented on #7
Guys I have closed this issue if you want to add more features in this particular issue kindly comment and I will reopen this issue Thank you !

[2020-12-29 16:12] #7 closed

[2020-12-29 20:09] akrish4 opened #33 "Code of Conduct File"
Hi @Ash515
I noticed there is no code of conduct file in this repository , I would like to work on this issue , kindly assign me

[2020-12-30 04:56] Ash515 commented on #33
Sure @akrish4 you can All the very best

[2020-12-30 04:58] vaishnavi-1 commented on #11
Do you mean that our AshTech should open Recycle Bin?

[2020-12-30 04:59] Ash515 commented on #11
Yes @vaishnavi-1 can you have any idea?

[2020-12-30 05:47] vaishnavi-1 commented on #11
I can edit the code and when the user says to show the deleted files then AshTech will show all the files in the Recycle bin. @Ash515 assign me. I will do this.

[2020-12-30 06:52] Ash515 commented on #11
OK @vaishnavi-1 do your best

[2020-12-30 15:23] akrish4 commented on #33
Hi @Ash515
I have worked on it , Kindly checck anad merge it #34

[2020-12-30 15:25] akrish4 commented on #33
Hi @Ash515
Kindly add `DWOC`and `Level 1` labels also in the PR otherwise it won't be counted.

[2020-12-30 16:10] #33 closed

[2020-12-30 16:10] Ash515 commented on #33
Done @akrish4

[2020-12-30 17:51] akrish4 opened #35 "issue and pull request templates"
Hi @Ash515

### You might have seen these templates before while opening a issue or pull request

![issue1](https://user-images.githubusercontent.com/61831021/103371378-4fba8980-4af5-11eb-98d6-dc40758f5c0d.PNG)
![issue2](https://user-images.githubusercontent.com/61831021/103371384-521ce380-4af5-11eb-992a-c306aa546cd3.PNG)
![github1](https://user-images.githubusercontent.com/61831021/103371388-534e

[2020-12-30 17:53] akrish4 commented on #35
Kindly note this is feature update for your  github repository

[2020-12-31 05:18] Ash515 commented on #35
Yeah sure @akrish4 do it All the very best

[2020-12-31 05:20] Ash515 commented on #4
Hey guys I am closing this issue now if you want to add any new features kindly comment then I will reopen this.

[2020-12-31 05:20] #4 closed

[2020-12-31 05:21] Ash515 commented on #8
Hey u guys I am closing this issue now if you have any new idea kindly comment I will reopen this issue.
Thank you !

[2020-12-31 05:21] #8 closed

[2020-12-31 05:59] Bhagyashri2000 opened #37 "Adding emotion recognition"
It would be great if the assistant would recognize user's emotion (good mood or upset) after first statement. We can use deep learning model for that.

[2020-12-31 06:07] Ash515 commented on #37
Sure @Bhagyashri2000 All the very best

[2020-12-31 10:01] bhavya092 opened #38 "Messaging and writing notes."
It would be great if the AI could send whatsapp messages to any desired person as well as write notes with a voice command.

[2020-12-31 10:41] Ash515 commented on #38
Yes you can

[2020-12-31 12:44] sahebsunny opened #39 "ImportError in macos"
ImportError: cannot import name 'COMError' from '_ctypes'
Unfortunately COMTypes is designed for Windows.

[2020-12-31 14:26] realhunter7869 commented on #38
I would like to take this issue too

[2020-12-31 14:28] Ash515 commented on #38
Ok @realhunter7869 All the very best

[2020-12-31 14:29] realhunter7869 commented on #11
I would like to work on this issue

[2021-01-02 15:45] #13 closed

[2021-01-03 07:42] #28 closed

[2021-01-03 13:17] akrish4 commented on #35
Hi @Ash515
I haave worked on this issue and opened a pr on it
Kindly do merge it and laso pls add the same labels added on this issue to pr also
#44

[2021-01-03 15:02] realhunter7869 commented on #6
Hey @Ash515 can you assign this issue to me

[2021-01-03 15:05] realhunter7869 commented on #11
Hey @Ash515 can you assign this to me

[2021-01-03 15:20] vaishnavi-1 commented on #11
@realhunter7869 I have done it already. I will create a PR by today itself. You can look at other issues.

[2021-01-03 15:23] vaishnavi-1 commented on #11
This is wrong @realhunter7869 . You were not assigned then also you did it and created PR. solve only those issues which are assigned to you.
@Ash515 Please don't merge the PR. Tell him this is wrong way. I was unable to do it before as I was ill, that doesn't mean @realhunter7869 you will do without informing.

[2021-01-03 16:38] Ash515 commented on #6
yeah sure All the very best

[2021-01-03 16:40] Ash515 commented on #11
@realhunter7869 please do another issues man 😊

[2021-01-03 17:15] realhunter7869 commented on #11
Hey there @Ash515, I asked you for this issue 3 days before. You didn't replied to it so I thought maybe you would be busy so didn't assigned it to me. No offense but @vaishnavi-1, I don't think solving the issue is a wrong gesture. You may have also gone for enhancing the code further. Anyways, I don't have any issue if this pr is deleted. Maybe @vaishnavi-1 can add her code and I can enhance it

[2021-01-03 17:32] vaishnavi-1 commented on #11
Okay @realhunter7869 . After my PR will be merged, then you can make changes and enhance the code and then create a new PR.
Secondly, if someone is assigned any issue and you are not then you should not do that task because the person which has been assigned he will do it, you can create other issues and work on them and issues are assigned on first come first basis.

[2021-01-03 18:01] realhunter7869 commented on #11
Hey @vaishnavi-1, I also asked to work on this issue three days before itself. I didn't got a reply so thought that maybe @Ash515 didn't went through it and forgot to assign it to me. I have also been adding codes to previously solved issues which were not assigned to me just to make it more user friendly (because at the end the working of the project matters). I never got such comments from anyon

[2021-01-03 18:34] vaishnavi-1 commented on #11
@realhunter7869  I was just telling you, when to solve the issue and when not. I am really sorry for being rude. I didn't had any intention to hurt you.

[2021-01-04 05:06] AmalChandru commented on #12
Can I work on this?

[2021-01-04 05:28] Ash515 commented on #12
Sure @AmalChandru All the very best

[2021-01-04 15:49] realhunter7869 commented on #11
No worries @vaishnavi-1. I will be contributing more when my exams are settled. Till then if you have any more upgradations do add on. And @Ash515, please assign this issue to me too. Have a great time ahead @Ash515 @vaishnavi-1 😊

[2021-01-05 13:45] Vashuev commented on #10
@Ash515 hey, which system are you talking about? is it our device (laptop, computer) or our AskTech system login

[2021-01-05 13:53] Ash515 commented on #10
device details

[2021-01-05 18:54] keshav340 commented on #37
can I do this

[2021-01-05 19:09] keshav340 commented on #14
Can I do this

[2021-01-05 19:12] keshav340 commented on #37
Can I do this

[2021-01-07 18:04] muthuannamalai12 opened #49 "Integrate Welcome Bot"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-07 18:05] muthuannamalai12 commented on #49
I would love to work on this issue as a part of DWOC. Kindly assign me this issue

[2021-01-08 12:40] #35 closed

[2021-01-10 10:05] Ash515 commented on #49
Sure @muthuannamalai12  All the very best

[2021-01-15 04:06] samir-0711 opened #51 "Add Contributors Table in README.md File"
Like this
![image](https://user-images.githubusercontent.com/68433936/104680100-23b61f80-5715-11eb-9113-74552bb9d9b5.png)

[2021-01-15 04:06] samir-0711 commented on #51
I would like to work on this.

[2021-01-15 08:16] Ash515 commented on #51
yeah great ! All the very best

[2021-01-15 09:57] kenkirito commented on #5
Can i work on this issue

[2021-01-15 11:40] Ash515 commented on #5
Yes you can

[2021-01-15 18:05] #51 closed

[2021-01-16 10:30] Abithaa123 commented on #6
Hey Ash515 can I do this ?

[2021-01-16 10:31] Ash515 commented on #6
Yes @Abithaa123 you can All the very best

[2021-01-18 06:03] Abithaa123 opened #57 "It is better to have a top college suggestion feature in AshTech 👨‍🎓👩‍🎓"
**Is your feature request related to a problem? Please describe.**
----It is good to have a college suggestion feature in our AshTech
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and co

[2021-01-18 14:14] realhunter7869 commented on #57
Hey @Ash515 can you assign this to me too

[2021-01-18 14:15] realhunter7869 commented on #38
Hey @Ash515 please assign this to me

[2021-01-18 14:18] realhunter7869 commented on #10
Hey @Ash515 can you assign this to me

[2021-01-19 09:08] #57 closed

[2021-01-19 09:09] Ash515 commented on #38
Sure All the very best

[2021-01-19 09:09] Ash515 commented on #10
sure

[2021-01-19 09:11] #6 closed

[2021-01-19 19:29] realhunter7869 opened #62 "Adding a code to say device hardware and architecture of currently using device"
**Is your feature request related to a problem? Please describe.**
Many a times we get questions about what our device hardware is. Let our AshTech answer that...
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Assign me this issue and I can get this done
- A clear and concise description of what you want to happe

[2021-01-19 19:30] realhunter7869 commented on #62
Hey @Ash515 please assign DWOC label and level and assign this issue to me

[2021-01-22 13:53] Ash515 opened #67 "Make the perfect GUI for giving shape to our product"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-01-22 13:54] #9 closed

[2021-01-22 13:54] Ash515 commented on #9
Now I can close this If any one need to do this message here

[2021-01-22 14:55] sanjay270899 commented on #67
I would Like to try on it. But before this, let's discuss more. Let's talk about it on discord. I have tagged you on your channel.

[2021-01-23 07:35] Amit366 commented on #12
@Ash515  can I work on this issue??

[2021-01-23 08:07] Ash515 commented on #12
sure

[2021-01-23 08:07] Ash515 commented on #67
sure

[2021-01-24 05:35] realhunter7869 commented on #67
I want to do this

[2021-01-24 05:36] realhunter7869 commented on #62
Hey @Ash515 please assign labels

[2021-01-24 12:25] Ash515 commented on #67
But already one person asked @realhunter7869

[2021-01-24 12:26] Ash515 commented on #62
Yeah done All the very best

[2021-01-24 17:39] realhunter7869 commented on #67
@Ash515 She was having some ideas with respect to web integration as discussed on discord... I can do it as a desktop app

[2021-01-25 16:10] Ash515 commented on #67
Okay @realhunter7869 All the very best !

[2021-01-28 06:09] Amit366 commented on #12
@Ash515 I am not finding the dataset. Could you help me with dataset?

[2021-01-28 06:32] Ash515 commented on #12
yeah

[2021-01-29 12:04] lokeshvenkatesan opened #68 "Import error in Mac and Linux"
Please @Ash515 Assign me this issue as a part of DWOC.

[2021-01-29 14:04] Amit366 commented on #12
@Ash515 sir what about the dataset??

[2021-01-29 14:05] Ash515 commented on #68
yeah sure

[2021-01-29 14:06] Ash515 commented on #12
Exactly what dataset do you want?

[2021-01-29 14:08] Amit366 commented on #12
I want a dataset of different activities like standing, walking and running

[2021-01-29 14:20] Amit366 commented on #12
@Ash515 sir I found one dataset where there are step count for different days. I am thinking to represent it in a form of statistics that is bar chart, central tendency .

[2021-01-29 14:21] Amit366 commented on #12
If you agree I will work on it.

[2021-01-29 14:26] Ash515 commented on #12
yeah try that All the very best

[2021-01-31 10:57] Amit366 commented on #12
@Ash515 sir I have sent the PR. Please check it.

[2021-01-31 14:29] Amit366 commented on #12
@Ash515 please add the tags to the merged PR

[2021-01-31 17:14] Amit366 commented on #37
@Ash515 can I work on this??

[2021-02-04 10:27] Amit366 commented on #37
@Ash515 sir can I work on this issue??

[2021-02-04 10:52] Ash515 commented on #37
yes you can

[2021-02-05 15:23] #37 closed

[2021-02-09 13:54] Ash515 opened #72 "It is good to have a traffic prediction behaviour."
It is very good to have a traffic prediction behaviour to our Ashtech. When we're asking regarding the traffic it will predict and share with us.

[2021-02-09 14:00] Ash515 opened #73 "It is good to have a voice detecting feature"
When someone speaks our Ashtech will predict him/her voice.

[2021-02-09 14:02] Ash515 opened #74 "It is good have a sports score predicting feature"
When someone asks the sports score it should share with him/her

[2021-02-09 14:04] Ash515 opened #75 "Date of birth predicts system"
When he or she asks some friends or relatives birthday date to our Ashtech it should share.

[2021-02-09 14:07] Ash515 opened #76 "It is good to have a calculating behaviour in our Ashtech"
When someone doesn't want to take his/her calculator to calculate the problem, so they can ask our Ashtech it should calculate the answer by taking input from the user and share the answers to the users.

[2021-02-09 14:09] Ash515 opened #77 "It is nice to surf some topics in the browser"
When a user asks to find some definitions or anything on the internet it should find and share with us.

[2021-02-09 14:12] Ash515 opened #78 "It is nice to have a gender prediction behaviour by using our name."
When users gives someone or his/her name. Our Ashtech should predict it and tell the gender type

[2021-02-09 14:16] Ash515 opened #79 "It is good to open the OLA, Uber or any other good services application when user wants to travel."
When the user want to travel so he or she should ask our Ashtech. It should open the Applications in mobile or web

[2021-02-12 12:45] Mahindra-7 commented on #78
@Ash515 as i am participant of crossWoc please assign it to me

[2021-02-12 18:04] Ash515 commented on #78
Yeah sure All the very best

[2021-02-13 12:03] Akash20x commented on #79
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-13 12:03] Akash20x commented on #77
Can you please assign me this issue as a part of Cross Woc. I would be very happy to do it

[2021-02-13 12:08] anjali1102 commented on #75
taking up this issue ! Assign me

[2021-02-13 12:08] Ash515 commented on #79
Sure you can All the very best !

[2021-02-13 12:09] Ash515 commented on #77
yes you can all the very best !

[2021-02-13 12:10] Ash515 commented on #75
Can I know which program do you belong to ?

[2021-02-13 12:59] srushti98 commented on #76
Hi can you please assign this issue to me as CWOC !

[2021-02-13 13:36] anjali1102 commented on #75
crossWoc/CWOC21

[2021-02-13 14:11] ArkajyotiChakraborty commented on #74
Good Evening Sir, I want to contribute in this project and bring the best out of it.

[2021-02-13 20:04] pranabprohit opened #82 "Task like roll a dice or toss a coin"

[2021-02-13 20:07] pranabprohit commented on #82
Hi, I would like to work on this issue, can you please assign this issue to me. I am from CWOC21

[2021-02-14 08:01] Ash515 commented on #76
Yeah sure All the very best !

[2021-02-14 08:02] Ash515 commented on #74
Are you belong to  CWOC21 ?

[2021-02-14 08:04] #79 closed

[2021-02-14 08:06] Ash515 commented on #82
Sure all the very best !

[2021-02-14 18:35] Akash20x commented on #77
I added the pull request for this issue, you can verify it.

[2021-02-15 05:21] ArkajyotiChakraborty commented on #74
yes sir, but i have very basic knowledge of python.

[2021-02-16 07:55] samir-0711 opened #86 "Create auto-update contributors table"
I would like to replace contributors table in README.md with auto-update contributors table.

[2021-02-16 07:55] samir-0711 commented on #86
I would like to work on this.

Kindly do add the DWOC and Level label

[2021-02-16 15:29] Ash515 commented on #86
Sure do it and All the very best

[2021-02-16 15:34] Ash515 commented on #74
Ok you can do it All the very best

[2021-02-16 16:39] #77 closed

[2021-02-17 05:01] Vrushti24 commented on #73
Can I work on this under DWOC  @Ash515 ?

[2021-02-17 12:13] ArkajyotiChakraborty commented on #74
Sir, can u provide any source where i can find content related this as im new in python and also what is the deadline as my test are scheduled so i will sort everything accordingly.
Thanks a lot for collaboration.

[2021-02-17 12:16] #86 closed

[2021-02-17 12:19] #10 closed

[2021-02-17 12:22] Ash515 commented on #73
No sorry

[2021-02-17 14:00] pranabprohit opened #89 "It would be better if the assistant could tell time in 12 hour format"
The AshTech is telling time in 24 hour format but it will be great if it could tell time in 12 hour format including AM, PM.

[2021-02-17 14:02] pranabprohit commented on #89
hii, i would like to work on this issue.

[2021-02-17 14:11] Ash515 commented on #89
sure

[2021-02-18 05:04] #89 closed

[2021-02-18 05:05] #82 closed

[2021-02-18 13:30] muthuannamalai12 opened #92 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
![auto assign](ht

[2021-02-18 13:30] muthuannamalai12 commented on #92
I would to work on it as a part of DWOC. Kindly assign it to me

[2021-02-18 13:32] Ash515 commented on #92
Sure

[2021-02-18 15:23] anjali1102 commented on #75
Hey , prediction of birthdate of user or voice assistant? Please elaborate it more

[2021-02-18 17:32] Ash515 commented on #75
Users or them relatives or friends birthdates

[2021-02-18 17:33] #92 closed

[2021-02-18 20:09] pranabprohit opened #94 "Asking the Assistant to tell user Host-name and IP address"
If Assistant could tell the User's Device Host name and IP address.

[2021-02-18 20:10] pranabprohit commented on #94
Hi, I would like to work on this issue as part of DWOC.

[2021-02-19 05:45] Ash515 commented on #94
Sure All the very best

[2021-02-20 07:33] Amit366 commented on #12
@Ash515 Can you add the CWOC tag to the merged PR

@Ash515 could you please the CWOC tag to this PR??

[2021-02-20 14:18] #94 closed

[2021-02-20 14:21] Ash515 commented on #12
I think you this PR is belonged to  DWOC ??

[2021-02-20 14:23] Amit366 commented on #12
Yes I belong to both DWOC and Cwoc

[2021-02-20 14:23] Amit366 commented on #12
I registered for CWOC and I saw this project also so I am asking to add. @Ash515

[2021-02-20 14:46] Ash515 commented on #12
Sorry this issue is not a part of CWOC. Try to solve the issue assigned with the tag of Cwoc

[2021-02-22 20:33] manisha-27 commented on #78
Hey, I want to work on this issue

[2021-02-22 20:35] manisha-27 commented on #73
I want to work on this issue

[2021-02-23 14:29] Ash515 commented on #78
for which program ?

[2021-02-23 14:42] manisha-27 commented on #78
CWOC

[2021-02-23 16:17] Ash515 commented on #78
Okay All the very best

[2021-02-23 19:19] pranabprohit opened #96 "Open on - screen keyboard ⌨️"
It would be great if our assistant could open on-screen keyboard as many time we face difficulty with physical keyboard.

[2021-02-23 19:22] pranabprohit commented on #96
I would like to work on this issue as part of DWOC . Can you please assign this issue to me ?

[2021-02-25 06:34] pranabprohit commented on #96
@Ash515 today is the last day to make PR count. So if you add the label and assign this issue to me then I will make a PR asap.

[2021-02-25 14:55] Ash515 commented on #96
yeah you can

[2021-02-25 14:58] #68 closed

[2021-02-25 14:59] #12 closed

[2021-02-25 15:00] #14 closed

[2021-02-25 15:00] #62 closed

[2021-02-25 15:01] #38 closed

[2021-02-25 15:54] #96 closed

[2021-02-27 20:21] pranabprohit opened #98 "URL Shortener with GUI"
It would be good if assistant could open a url shortener GUI with a copy feature. User can make any url short using this GUI and can also copy the shorten url with a click of button.

[2021-02-27 20:23] pranabprohit commented on #98
Hi @Ash515, I would like to work on this issue as a part of CWOC.

[2021-02-28 04:50] Ash515 commented on #98
Sure All the very best

[2021-03-01 11:47] vybhav72954 opened #100 "Enforcing PEP-8 guidelines from the get-go"
Considering that most of the project is fuelled by contributors.

It would be a good practice to enforce Python guidelines all over the codebase.

[2021-03-01 11:49] vybhav72954 opened #101 "A Python Linter"
**Is your feature request related to a problem? Please describe.**
----
- In conjunction with #100 we should have a Python Linter that incorporates python guidelines.

**Describe the solution you'd like**
----
- A python Linter based on PyLint or Flake8, (Depends upon the Admin).

**Describe alternatives you've considered**
----
- Self-reviews of code I guess!

[2021-03-01 13:55] Ash515 commented on #100
great

[2021-03-02 05:52] #100 closed

[2021-03-02 15:27] pranabprohit opened #104 "ask assistant to Open command prompt"
Almost every developer uses cmd / command prompt in their daily life. So it would be better if our assistant could open command prompt.

[2021-03-02 15:28] pranabprohit commented on #104
hey @Ash515, I would like to work on this issue under CWOC.

[2021-03-03 14:07] Ash515 commented on #104
All the very best

[2021-03-03 15:55] pranabprohit opened #106 "Open google chrome in incognito mode"
It would be great if ashtech (assistant) could open chrome in incognito mode.

[2021-03-03 15:57] pranabprohit commented on #106
@Ash515 , I want to work on this issue as a part of CWOC. can you assign this issue to me.

[2021-03-03 16:02] pranabprohit opened #107 "print all the module installed in python"
Ask assistant to print all the installed module in python in alphabetical order.

[2021-03-03 16:03] pranabprohit commented on #107
@Ash515, I would like to work on this issue as a part of CWOC. Can you assign this issue to me.

[2021-03-04 17:50] #104 closed

[2021-03-04 17:52] Ash515 commented on #106
sure

[2021-03-05 13:55] kmryashasvi opened #109 "associate link of the crosswoc website to its banner"
I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 17:35] Ash515 commented on #109
Nice All the very best

[2021-03-05 17:36] Ash515 commented on #107
sure

[2021-03-05 20:59] pranabprohit opened #111 "wifi names and their passwords in txt file."
It would be great if our ashtech could fetch all the connected wifi names and their passwords and store them in a txt file.

[2021-03-05 21:00] pranabprohit commented on #111
Hi @Ash515, I would like to work on this issue as a part of CWOC. Can you please assign this issue to me.

[2021-03-07 11:14] vybhav72954 commented on #101
@Ash515 Can you tell me how you feel about this? You can close this if you aren't interested.

[2021-03-08 14:49] #107 closed

[2021-03-08 14:52] Ash515 commented on #111
I'm sorry  it is not a good activity just try to do another issue

[2021-03-08 14:53] Ash515 commented on #101
Nice

[2021-03-09 03:56] yashlikescode commented on #109
Why aren't you merging it, is there any problem?

[2021-03-09 14:15] pranabprohit commented on #111
@Ash515, I think you are getting it wrong it will fetch the password of only those wifi's to which user has already connected before. (Like I have connected to 2 wifi through my device so it will only fetch those wifi password as they are store in my system)

[2021-03-09 16:12] Ash515 commented on #109
Are you gave PR ?

[2021-03-09 16:12] Ash515 commented on #109
Hi  @kmryashasvi  did you gave PR for this issue ?

[2021-03-09 16:13] #106 closed

[2021-03-09 16:15] Ash515 commented on #111
Okay @pranabprohit  you do, and sorry for that mistake 😊

[2021-03-09 23:53] yashlikescode commented on #109
Yes, of course

[2021-03-09 23:54] yashlikescode commented on #109
It is pr no. #112

[2021-03-10 06:14] Akash20x opened #114 "Add feature to tell motivational quote"
**Is your feature request related to a problem? Please describe.**
----
Assistant gives random motivational quote

**Describe the solution you'd like**
----
When a user motivational quote, it gives users 4-5 categories and user have to select, then it provides random motivational quote related to that category
.
**Additional context**
----
- Add any other context or screenshots about the feature r

[2021-03-10 06:14] Akash20x commented on #114
Please consider this and assign me this issue as a part of Cross Woc

[2021-03-10 21:18] pranabprohit commented on #111
@Ash515, don't you think that it should come under hard issue.

[2021-03-14 05:57] #75 closed

[2021-03-14 07:53] Akash20x commented on #114
Please also assign me this issue

[2021-03-14 10:02] pranabprohit commented on #107
@Ash515 there are no lables on this issue. Please add the required lables. :)

[2021-03-14 17:10] anjali1102 commented on #49
I think this issue has been accomplished

[2021-03-14 17:12] anjali1102 commented on #101
/assign

[2021-03-14 18:13] anjali1102 commented on #49
Taking up this issue

[2021-03-14 18:25] anjali1102 commented on #49
Kindly label cwoc21  label on it

[2021-03-14 18:47] vybhav72954 commented on #101
@Ash515 Sorry i was a bit busy. Will make a PR today only.

[2021-03-15 08:56] Ash515 commented on #49
Sorry you have done this issue n DWOC so I can't able to add it in CWOC

[2021-03-15 13:26] #111 closed

[2021-03-15 18:54] pranabprohit commented on #107
@Ash515, Please add the required labels to this issue.

[2021-03-16 04:52] Akash20x commented on #114
Any update on my above comment

[2021-03-16 08:05] Ash515 commented on #114
You can do this

[2021-03-16 08:06] Ash515 commented on #114
You can do this

[2021-03-16 08:08] #98 closed

[2021-03-16 10:00] Akash20x commented on #114
OK

[2021-03-16 17:36] anjali1102 commented on #109
is this issue pending? I think @kmryashasvi  has done some work on this?

[2021-03-16 17:51] anjali1102 commented on #74
Hey, @Ash515  I'll complete this task. Kindly assign a CWOC21 label if you don't mind.

[2021-03-16 18:06] anjali1102 opened #118 "Remove label of ended programs"
DWOC has been ended on January 31, 2021. check here https://dwoc.io/

Currently ONLY CWOC is going on

[2021-03-16 19:52] pranabprohit opened #119 "Control system volume"
Ask assistant to control volume of our system like volume-up, volume-down and mute.

[2021-03-16 19:52] pranabprohit commented on #119
hello @Ash515, I would like to work on this issue as a part of CWOC.

[2021-03-17 00:45] yashlikescode commented on #109
Its not pending,  but PR related to it is yet to be merged

[2021-03-17 17:15] Ash515 commented on #118
It's okay there is no any problem in that are you feel any problem in that ?

[2021-03-17 17:16] Ash515 commented on #74
Done !

[2021-03-18 02:08] yashlikescode commented on #109
@Ash515 Why you closed the issue and why aren't you merging the PR?

[2021-03-18 15:10] Ash515 commented on #109
Have you submitted the PR or not Mr @kmryashasvi

[2021-03-19 02:22] yashlikescode commented on #109
Yes, it is pr #112 and it was pulled 13 days ago. Why don't you understand?
Are you new on github?
you have asked this question twice, even when I had answered it before
@Ash515

[2021-03-19 13:53] Ash515 commented on #109
Sorry Mr @kmryashasvi for misunderstanding and one more thing please mind your words when speaking with someone.
Thank you !

[2021-03-19 13:53] #109 closed

[2021-03-19 13:57] yashlikescode commented on #109
What my words?

[2021-03-19 14:12] Ash515 commented on #109
Nothing thanks

[2021-03-21 11:48] pranabprohit commented on #119
hello @Ash515, I would like to work on this issue as a part of CWOC.

[2021-03-21 12:52] Ash515 commented on #119
Sure All the best

[2021-03-21 18:29] pranabprohit opened #121 "Ask assistant to play chrome dinosaur game"
It would be great if our assistant could play chrome dino game for us.

[2021-03-21 18:32] pranabprohit commented on #121
Hi @Ash515, I would like to work on this issue as a part of CWOC. Can you please assign this issue to me.

[2021-03-22 08:20] Ash515 commented on #121
Sure

[2021-03-22 08:21] #119 closed

[2021-03-22 20:42] Akash20x commented on #114
Sorry, I forgot to solve this I will reopen it if I get time to solve it

[2021-03-23 17:29] Ash515 commented on #114
Ok

[2021-03-24 20:52] pranabprohit opened #123 "Ask assistant to take screenshot"
It would be great if our ashtech could take a screenshot and save the image too.

[2021-03-24 20:52] pranabprohit commented on #123
Hii @Ash515, I would like to work on this issue as a part of CWOC.

[2021-03-25 14:07] Ash515 commented on #123
Sure

[2021-03-25 14:09] #121 closed

[2021-03-25 20:24] pranabprohit opened #125 "Ask assistant to hide/unhide file or folder"
It would be great if our assistant could hide the file and folder. We can do that by going to properties and hide them but anyone can unhide them. So to hide it properly ask assistant to hide the folder using cmd.

[2021-03-25 20:25] pranabprohit commented on #125
@Ash515, I would like to work on this issue as a part of CWOC.

[2021-03-26 08:50] #123 closed

[2021-03-26 08:51] Ash515 commented on #125
sure

[2021-03-26 19:34] pranabprohit opened #127 "Add feature to generate QR code"
If our ashtech could generate a QR code for this repository so that we can scan it and directly go to the repository.

[2021-03-26 19:34] pranabprohit commented on #127
Hello @Ash515, I would like to work on this issue as a part of CWOC.

[2021-03-26 19:44] pranabprohit opened #128 "Spelling mistake in PR template"
The spelling of `issues` is misspelled in the first line of the PR template.

[2021-03-26 19:47] pranabprohit commented on #128
Hii @Ash515, I would like to work on this issue too as a part of CWOC. Can you please assign me this issue. I will make the PR for both the issue at the same time.

[2021-03-27 08:56] #125 closed

[2021-03-27 08:57] Ash515 commented on #127
sure

[2021-03-27 12:44] anjali1102 commented on #76
I can complete this. I am from CWOC21.  Kindly label it @Ash515

[2021-03-27 14:40] #74 closed

[2021-03-27 14:41] Ash515 commented on #76
sure

[2021-03-27 14:43] #127 closed

[2021-03-27 14:45] pranabprohit opened #131 "open geeksforgeeks, github"
it would be great if our ashtech could open geeksforgeeks, github.

[2021-03-27 14:46] pranabprohit commented on #131
Hii @Ash515 , I would like to work on this issue as a part of CWOC.

[2021-03-27 14:57] Ash515 commented on #131
Already it will open gmail you can try with other two sites

[2021-03-27 15:11] pranabprohit commented on #131
Okay

[2021-03-27 16:07] anjali1102 commented on #114
Hey @Ash515 Please consider adding "hard" Label as I have added randomly generated GUI based if you feel so

[2021-03-27 16:41] anjali1102 opened #133 "Play/download any spotify song"
**Is your feature request related to a problem? Please describe.**
----
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
----
- A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
----
- A clear and concise description of any alternative solutions or features you

[2021-03-27 17:43] anjali1102 commented on #133
can you add cwoc label here

[2021-03-27 17:57] anjali1102 commented on #133
Kindly review PR #133

Output
![q0b345q7jib93hjxi05a](https://user-images.githubusercontent.com/56559378/112729781-ed3a2380-8f53-11eb-9449-84b77cc50b4f.png)

[2021-03-27 19:08] pranabprohit opened #135 "add feature to check internet speed"
It would be great if ashtech could tell the download and upload speed to us.

[2021-03-27 19:09] pranabprohit commented on #135
hello @Ash515, I would like to work on this issue as a part of CWOC.

[2021-03-28 16:54] Ash515 commented on #114
sure

[2021-03-28 16:56] #131 closed

[2021-03-28 16:59] #114 closed

[2021-03-28 17:01] Ash515 commented on #135
sure

[2021-03-29 05:04] #135 closed

[2021-10-06 12:14] marcyves commented on #39
Same error, is there any workaround for Mac OS X?

[2021-11-01 16:39] ANA43374 commented on #39
same error, my roomate can run it in windows, so it may caused by mac os